body{
	background-color: lightblue;
}
h1{
	color: green;
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 60px;
}
li{
	list-style-type: none;
	border width: 1px;
	border-style: solid;
	border-color: grey;
	width: 39px;
	height: 39px;
	font-size: 20px;
	align-items: center;
	background-color: #A600A8;
	display: inline-block;
    font-family: Arial, sans-serif;
    text-align: center;
}