body{
	background-color: lightblue;
}
h1{
	color: green;
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 60px;
}
li{
	list-style-type: none;
	border width: 2px;
	border-style: ridge;
	border-color: grey;
	width: 38px;
	height: 38px;
	font-size: 30px;
	text-align: center;
	background-color: #A600A8;
}
ul{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}